{% extends "base.html" %}

{% block head %}
<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<!-- Need to figure out the url_fors -->
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/home.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename = 'js/home.js') }}"></script>
    
{% endblock %}

{% block body %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N9XPWJV"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<section class="about-me">
    <div class="container">
        <div class="col-md-6 mt-5">
            <h1 class="about-me-title font-weight-bold my-3">About Crystal Widjaja</h1>
            <p class="about-text text-left">(I also go by Crissy sometimes.)
                <br><br>I love building and supporting fast-growing teams, working on technology products that empower millions of lives, and finding growth opportunities in the data. I am also passionate about providing young women with access to STEM through my non-profit, <a href="https://www.generationgirl.org" target="_blank" rel="noopener" class="text-muted">Generation Girl.</a>
                <br><br>Between 2015 and 2020, I was lucky enough to be one of the first 30 product & engineering hires at <a href="https://en.wikipedia.org/wiki/Gojek"  target="_blank" rel="noopener" class="text-muted">Gojek.</a> Gojek completes more rides per day than Lyft, more food deliveries than GrubHub, Uber Eats, and DoorDash combined, and is the #1 mobile wallet in Indonesia.
                <br><br>
                As the first technical data hire, I held roles as the VP of Business Intelligence, Fraud & Risk, SVP of Growth, and Chief of Staff to the co-CEOs. I built the <a href="https://www.reforge.com/blog/why-most-analytics-efforts-fail" target="_blank" rel="noopener" class="text-muted">analytics</a>, fraud/risk, and product growth teams from 0 to 200+ engineers/PMs/analysts that were responsible for growing Gojek from <strong>30,000</strong> transactions a day to more than <b>10 million</b> transactions a day.
                <br><br>
                I have been honored to be awarded the Forbes 30 Under 30 and HerWorld's Woman of the Year.
                <br><br>
                Today, I am angel investing through the Monk's Hill Scout program and <a href="https://techcrunch.com/2019/06/07/a-peek-inside-sequoia-capitals-low-flying-wide-reaching-scout-program/" target="_blank" rel="noopener" class="text-muted">Sequoia Scout fund</a> and work with startups across South East Asia and the Bay Area on data-led growth, experimentation, and analytics best practices. I'm passionate about getting deep into the weeds (still writing my own SQL), running high-leverage experiments, and bridging the gap between marketing and product teams. 
            </p>
                <br>
                <h3>Want to work with me?</h3>
                
                <br>
                If you have an exciting project / idea / role to share, free to send me an <a href="mailto:crystal@crystalwidjaja.com"  target="_blank">email</a> :)
                </div>
                
        </div>
    </div>
</section>

<!-- Twitter universal website tag code -->
<script>
    !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
    },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
    a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
    // Insert Twitter Pixel ID and Standard Event data below
    twq('init','o49c2');
    twq('track','PageView');
    </script>
    <!-- End Twitter universal website tag code -->
{% endblock %}