{% extends "base.html" %}

{% block head %}
<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<!-- Not sure I'll need Popper but here for now -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<!-- Need to figure out the url_fors -->
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/home.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename = 'js/home.js') }}"></script>
{% endblock %}

{% block body %}
<section class="about-me text-center">
    <div class="container">
        <div class="col-md-6 mt-5">
            <h1 class="about-me-title font-weight-bold my-3">hi, i'm crystal widjaja</h1>
            <p class="about-text">(I also go by Crissy sometimes.)
                <br><br>I'm a data-driven individual that enjoys building technical products. 
                <br><br>I've worked in investment banking, education research, and most recently, "tech". Between 2015 and 2020, I was lucky enough to be one of the first 30 product/eng hires at <a href="https://en.wikipedia.org/wiki/Gojek" target="_blank"
                    class="text-muted">gojek.</a> (Gojek does more rides per day than Lyft, more food deliveries than GrubHub, Uber Eats, and DoorDash combined, and is the #1 mobile wallet in Indonesia & across South East Asia. The scale in Asia is HUGE!)
                <br><br>
                I built the data, fraud/risk, and product growth teams from 0 to 200 engineers/PMs/analysts that were responsible for growing Gojek from <strong>30,000</strong> transactions a day to more than <b>10 million</b> transactions a day.
                <br><br>
                Now, I dabble in a bit of angel investing through <a
                    href="https://techcrunch.com/2019/06/07/a-peek-inside-sequoia-capitals-low-flying-wide-reaching-scout-program/" target="_blank"
                    class="text-muted">Sequoia's Scout fund</a>, and help other startups and companies with growth, data, and product.
                <br><br>
                <h4>Get in touch:</h4>
                If you'd like to spend an hour to talk through your company's Growth / Data challenges, book a slot <a href="https://calendly.com/consultcrystalwidjaja/60min" target="_blank" onclick="getOutboundLink('https://calendly.com/consultcrystalwidjaja/60min'); return false;">here</a>. Otherwise, if you have an exciting project / idea / role to share, free to send me an <a href="mailto:crystal@crystalwidjaja.com"  target="_blank">email</a> :)
            </p>
            <div class="row justify-content-between">
                <!-- item 1 -->
                <div class="col-lg-5">
                    <div class="about-me-columns mx-auto my-5 mb-lg-3">
                        <h4><i>actual</i> skills</h4>
                        <p class="mb-0">SQL<br>Python<br>R<br>HTML/CSS<br>loud keyboard typing</p>
                    </div>
                </div>
                <!-- item 2 -->
                <div class="col-lg-5">
                    <div class="about-me-columns mx-auto my-5 mb-lg-3">
                        <h4>interests</h4>
                        <p class="mb-0">Consumer Apps<br>HealthTech<br>O2O Marketplaces<br>Infra<br>Applied DS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}