{% extends "base.html" %}

{% block head %}
<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<!-- Not sure I'll need Popper but here for now -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<!-- Need to figure out the url_fors -->
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/work.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename = 'js/home.js') }}"></script>
{% endblock %}

{% block body %}
<section class="work">
    <div class="container">
        <div class="col-md-9 mt-12">
            <p class="lead work-title my-3 text-align-left">features, publications, & talks</p>
            <div class="card-deck">
                {% for key, value in work_content.items() %}
                <div class="card shadow-sm mb-3" style="min-width: 12rem;">
                    <a href='{{value['url']}}' target="_blank" class="stretched-link">
                        <div class="embed-responsive embed-responsive-16by9">
                        <img class="card-img-top embed-responsive-item p-2" src={{value['file_path']}} alt="Card image cap">
                    </a>
                </div>
                    <div class="card-body text-center text-uppercase text-muted small d-flex align-items-center justify-content-center py-1">{{ key|e }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}